{% extends "base.html" %}

{% block content %}

	<h1>
		{{title}}
	</h1>

		{% if object.foto_um %}
			<h4>Foto:</h4>
			<img id="foto" class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" src="{{ object.foto_um.url }}"></img>
		{% endif %}
		<h4>Tipo:</h4>
		<p>De {{ object.tipo }}<br /></p>
		<h4><br />Peso:</h4>
		<label class="control-label" for="peso_table">Pesagens</label>
		<input type="text" id="peso" name="peso" value='{{ object.peso }}' hidden="true">
		<table  id="peso_table" class="table">
			<thead>
				<tr>
					<th>Peso Kg</th>
					<th>Data</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<script type="text/javascript">
			let lista_bovino	= JSON.parse($('#peso').val())

			trHTML = '';

			var peso = new Array(),
					data = new Array();

			$.each(lista_bovino, function (i, item) {
				trHTML += '<tr><td>' + item.peso + '</td><td>' + item.data + '</td></tr>';
				peso.push(item.peso);
				data.push(item.data);
			});

			$('#peso_table tbody').remove();
			$('#peso_table').append(trHTML);
		</script>
		<script type="text/javascript" src="/static/js/Chart.bundle.min.js"></script>
		<canvas id="chart-peso-dia" width="600" height="300"></canvas>
		<script type="text/javascript">
			var ctx = document.getElementById("chart-peso-dia");
			var myChart = new Chart(ctx, {
				type: 'line',
				data: {
					labels: data,
					datasets: [{
						label: 'Kg',
						data: peso,
						lineTension: 0.1,
						backgroundColor: '#FFF0',
						borderColor: '#217867',
						borderWidth: 5
					}]
				},
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			});
		</script>
		<label class="control-label" for="id-medio">Média de ganho de peso por dia</label>
		<p id="id-medio">10</p>
		<label class="control-label" for="id-peso-medio-table">Média de ganho de peso por dia / períodos</label>
		<table  id="id-peso-medio-table" class="table">
			<thead>
				<tr>
					<th>Peso por dia Kg</th>
					<th>Período</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<script src="/static/js/moment.js"></script>
		<script type="text/javascript">
			lista_bovino	= JSON.parse($('#peso').val());
			let media			= new Array();
			$.each(lista_bovino, function (i, item) {
				if(i > 0) {
					let start	= moment(lista_bovino[i-1]['data']);
					let end		= moment(lista_bovino[i]['data']);
					let dif		= end.diff(start, "days");
					let res		= lista_bovino[i]['peso'] - lista_bovino[i-1]['peso'];
					media.push([res, dif, (res/dif), (lista_bovino[i-1]['data'] + ' - ' + lista_bovino[i]['data'])]);
				}
			});
			let total	= 0;
			trHTML = '';
			console.log(media);
			$.each(media, function (i, item) {
				total	+= item[2];
				trHTML += '<tr><td>' + item[2] + '</td><td>' + item[3] + '</td></tr>';
			});
			total	= total / media.length;
			$("#id-medio").text(total + " Kg");
			$('#id-peso-medio-table tbody').remove();
			$('#id-peso-medio-table').append(trHTML);
		</script>
		<h4><br />Medicamento:</h4>
		<label class="control-label" for="medicamento_table">Medicamentos</label>
		<input type="text" id="medicamento" name="medicamento" value='{{ object.medicamento }}' hidden="true">
		<table  id="medicamento_table" class="table">
			<thead>
				<tr>
					<th>Medicamento</th>
					<th>Data de Aplicação</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<script type="text/javascript">
			let lista	= JSON.parse($('#medicamento').val())

			let trHTML = '';

			$.each(lista, function (i, item) {
				trHTML += '<tr><td>' + item.medi + '</td><td>' + item.data + '</td></tr>';
			});

			$('#medicamento_table tbody').remove();
			$('#medicamento_table').append(trHTML);
		</script>
		<h4>Data de Nascimento:</h4>
		<p>{{ object.nascimento }}<br /></p>
		<h4>Idade:</h4>
		<p>{{ object.get_age }} Anos<br /></p>
		<h4>Gênero:</h4>
		<p>{{ object.genero }}<br /></p>
		<h4>Estado:</h4>
		<p>{{ object.estado }}<br /></p>
		{% if filhos.filhos.all.count > 1 %}
			<h4>Filhos:</h4>
			<div class="list-group">
		{% elif filhos.filhos.all.count == 1 %}
			<h4>Filho:</h4>
			<div class="list-group">
		{% endif %}
		{% for filho in object_list %}
			{% if filho in filhos.filhos.all %}
				<a href="{{ filho.get_absolute_url }}" class="list-group-item">{{ filho.identificacao }}</a>
			{% endif %}
		{% endfor %}
		{% if filhos.filhos.all.count > 0 %}
			</div>
		{% endif %}
		<br />
		{% if object.foto_um %}
			<h4>Fotos:</h4>
			<img id="foto" class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" src="{{ object.foto_um.url }}"></img>
			{% if object.foto_dois %}
				<img id="foto" class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" src="{{ object.foto_dois.url }}"></img>
			{% endif %}
			{% if object.foto_tres %}
				<img id="foto" class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" src="{{ object.foto_tres.url }}"></img>
			{% endif %}
			{% if object.foto_quatro %}
				<img id="foto" class="bd-placeholder-img card-img-top" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" src="{{ object.foto_quatro.url }}"></img>
			{% endif %}
		{% endif %}

		<h4>Ultima Atualização:</h4>
		<p>{{ object.updated }}<br /></p>
		<h4>Adicionado:</h4>
		<p>{{ object.timestamp }}<br /></p>

		<button type="button" class="btn btn-sm btn-danger" onclick="location.href='{{ object.get_absolute_url }}delete/';">Excluir</button>
		<button type="button" class="btn btn-md btn-secondary" onclick="location.href='{{ object.get_absolute_url }}edit/';">Editar</button>

{% endblock content %}
